<div class="ml-6 pb-2 grid grid-cols-1">
    <h1 class="text-xl text-indigo-600">Reporte de pacientes recomendados por canal anualmente</h1>
</div>
<div class="ml-6 pb-2 grid grid-cols-6">
    <label class="font-bold text-center col-start-5">Año</label>
    <select #anio (change)="cargarDatos()" class="border-2 border-indigo-600 col-span-1 col-start-6">
        <option *ngFor="let a of anios" [selected]="a == anioActual" [value]="a">{{a}}</option>
    </select>
</div>
<hr>
<div style="display: block;" class="chart">
    <canvas baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins">
    </canvas>
</div>

