<div class="_load_main inset-0" *ngIf="cargando">
    <div class="_load_content">
        <mat-spinner diameter=70 color=primary></mat-spinner>
        <h3 class="_load_text">{{ mensajeCarga }}</h3>
    </div>
</div>
<mat-card>
    <mat-card-title class="text-2xl font-bold text-primary">{{ bloquear ? 'Editar' : 'Crear' }} Personal Médico</mat-card-title>
    <mat-card-subtitle class="text-lg text-gray-400 font-bold">Formulario</mat-card-subtitle>
    <mat-dialog-content class="mat-typography">

        <!-- aqui va el formulario -->

        <form [formGroup]="form" novalidate>

            <div class="grid grid-rows-8 grid-cols-2 gap-4">

                <mat-form-field appearance="legacy">
                    <mat-label>Nombres<span class="text-red-600">(*)</span></mat-label>
                    <input maxlength="50" matInput type="text" formControlName="nombres" [readonly]="bloquear" [style]="{'color':(bloquear ? 'rgba(0,0,0,.38)': 'black')}">
                    <mat-error *ngIf="form.controls.nombres.hasError('required')">El campo es requerido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Ape. Paterno<span class="text-red-600">(*)</span></mat-label>
                    <input maxlength="50"  matInput type="text" formControlName="paterno" [readonly]="bloquear" [style]="{'color':(bloquear ? 'rgba(0,0,0,.38)': 'black')}">
                    <mat-error *ngIf="form.controls.paterno.hasError('required')">El campo es requerido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Ape. Materno<span class="text-red-600">(*)</span></mat-label>
                    <input maxlength="50" matInput type="text" formControlName="materno" [readonly]="bloquear" [style]="{'color':(bloquear ? 'rgba(0,0,0,.38)': 'black')}">
                    <mat-error *ngIf="form.controls.materno.hasError('required')">El campo es requerido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Tipo de documento<span class="text-red-600">(*)</span></mat-label>
                    <mat-select formControlName="tipoDocumento" [disabled]="bloquear">
                      <mat-option value="">Seleccione</mat-option>
                      <mat-option value="DNI">DNI</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.tipoDocumento.hasError('required')">Seleccione una opción</mat-error>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Número de documento<span class="text-red-600">(*)</span></mat-label>
                    <input maxlength="20" matInput type="text" formControlName="numeroDocumento" [readonly]="bloquear" [style]="{'color':(bloquear ? 'rgba(0,0,0,.38)': 'black')}">
                    <mat-error *ngIf="form.controls.numeroDocumento.hasError('required')">El campo es requerido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Fecha de nacimiento<span class="text-red-600">(*)</span></mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="bloquear"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="form.controls.fechaNacimiento.hasError('required')">El campo es requerido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Telefono fijo</mat-label>
                    <input maxlength="20" matInput type="text" formControlName="telefonoFijo">
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Celular</mat-label>
                    <input maxlength="20"  matInput type="text" formControlName="celular">
                </mat-form-field>
                
                <mat-form-field appearance="legacy">
                    <mat-label>Correo</mat-label>
                    <input maxlength="100" matInput type="text" formControlName="correo">
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Profesión</mat-label>
                    <mat-select formControlName="profesion">
                        <mat-option value="">Seleccione</mat-option>
                        <mat-option value="MÉDICO">MÉDICO</mat-option>
                        <mat-option value="ENFERMERA">ENFERMERA</mat-option>
                        <mat-option value="TÉCNICO IMÁGENES">TÉCNICO IMÁGENES</mat-option>
                        <mat-option value="TÉCNICO LABORATORIO">TÉCNICO LABORATORIO</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Area médica <span class="text-red-600">(*)</span></mat-label>
                    <mat-select (selectionChange)="buscarServicios($event.value)" formControlName="areaMedica">
                      <mat-option value="">Seleccione</mat-option>
                      <mat-option *ngFor="let am of areasMedicas" [value]="am.areaMedicaId">{{am.nombre}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.areaMedica.hasError('required')">Seleccione una opción</mat-error>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Servicio/Especialidad <span class="text-red-600">(*)</span></mat-label>
                    <mat-select formControlName="servicio">
                      <mat-option value="">Seleccione</mat-option>
                      <mat-option *ngFor="let s of servicios" [value]="s.servicioId">{{s.nombre}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.servicio.hasError('required')">Seleccione una opción</mat-error>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Documento profesional</mat-label>
                    <mat-select formControlName="documentoProfesional">
                      <mat-option value="">Seleccione</mat-option>
                      <mat-option value="CMP">CMP</mat-option>
                      <mat-option value="CEP">CEP</mat-option>
                      <mat-option value="CNP">CNP</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field appearance="legacy">
                    <mat-label>Número de documento profesional</mat-label>
                    <input maxlength="100" matInput type="text" formControlName="numeroDocumentoProfesional">
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Estado laboral</mat-label>
                    <mat-select formControlName="estadoLaboral">
                      <mat-option value="">Seleccione</mat-option>
                      <mat-option value="EL001">EL001</mat-option>
                      <mat-option value="EL002">EL002</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

        </form>


    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="w-100">
            <button routerLink="/personal-medico/listar" mat-raised-button color="warn" class="mr-2">
                <mat-icon>close</mat-icon> Cancelar</button>
            <button (click)="registrar()" cdkFocusInitial [disabled]="!form.valid"  
                mat-raised-button color="accent">
                <mat-icon>save</mat-icon> Guardar</button>
        </div>
    </mat-dialog-actions>
</mat-card>