<div class="h-1/5 bg-white mb-2 grid grid-cols-2 gap-4">
    <div>
        <h1 class="text-2xl text-primary font-bold">Historias clínicas</h1>
        <p class="text-lg text-gray-400 font-bold">Listado</p>
    </div>
    <div class="grid justify-items-end p-2"></div>
    <div class="grid grid-cols-3 gap-2">
        <label>Número de documento: </label>
        <input class="shadow appearance-none border border-gray-500 rounded w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Buscar..." [ngModelOptions]="{standalone: true}" [(ngModel)]="query" >
        <div>
            <button class="bg-primary bg-gradient text-white" mat-raised-button (click)="filtrar()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
</div>

<div class="mat-elevation-z8 mt-4">

    <div class="_load_main inset-0" *ngIf="cargando">
        <div class="_load_content">
            <mat-spinner diameter=70 color=primary></mat-spinner>
            <h3 class="_load_text">{{mensajeCarga}}</h3>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" matTablePaciente class="sm:w-full table table-hover align-middle text-center">

        <ng-container matColumnDef="numeroHistoriaClinica">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>NÙMERO DE HC.</b></th>
            <td mat-cell *matCellDef="let element"> {{element.numeroHistoriaClinica}} </td>
        </ng-container>
    
        <ng-container matColumnDef="paciente">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>PACIENTE</b></th>
            <td mat-cell *matCellDef="let element"> {{getNombrePaciente(element)}} </td>
        </ng-container>
        
        <ng-container matColumnDef="tipo_documento">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>TIPO DE DOCUMENTO</b></th>
            <td mat-cell *matCellDef="let element"> {{element.paciente.tipoDocumento}} </td>
        </ng-container>

        <ng-container matColumnDef="numero_documento">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>NÚMERO DE DOCUMENTO</b></th>
            <td mat-cell *matCellDef="let element"> {{element.paciente.numeroDocumento}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>ACCIONES</b></th>
            <td mat-cell *matCellDef="let element">
                <button routerLink="/historia-clinica/editar/{{element.paciente.pacienteId}}/{{element.historiaClinicaId}}/{{element.numeroHistoriaClinica}}" mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon></button>                 
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>

    <mat-paginator [ngClass]="{'d-none': !dataSource.length}" [length]="totalFilas"
        [pageSizeOptions]="[10, 20, 50]" [pageSize]="10" (page)="cargarDatos()"></mat-paginator>
</div>