
<div class="h-1/5 bg-white mb-2 grid grid-cols-2 gap-4">
    <div>
        <h1 class="text-2xl text-primary font-bold">Citas médicas</h1>
        <p class="text-lg text-gray-400 font-bold">Listado</p>
    </div>
    <div class="grid justify-items-end p-2">
        <button *ngIf="tienePermisoRol('ROLE_CREAR_CITA_MEDICA','CITA_MEDICA')" mat-raised-button class="bg-secondary bg-gradient text-white" routerLink="/cita-medica/crear">
            <mat-icon>add_circle</mat-icon> Nuevo
        </button>
    </div>
    <div class="grid grid-cols-3 gap-2">
        <label>Número de cita: </label>
        <input class="shadow appearance-none border border-gray-500 rounded w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Buscar..." [ngModelOptions]="{standalone: true}" [(ngModel)]="query" >
        <div>
            <button class="bg-primary bg-gradient text-white" mat-raised-button (click)="filtrar()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="mat-elevation-z8">

    <div class="_load_main inset-0" *ngIf="cargando">
        <div class="_load_content">
            <mat-spinner diameter=70 color=primary></mat-spinner>
            <h3 class="_load_text">{{mensajeCarga}}</h3>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" matTablePaciente class="sm:w-full table table-hover align-middle text-center">

        <ng-container matColumnDef="numero_cita">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>NÚMERO DE CITA</b></th>
            <td mat-cell *matCellDef="let element"> {{element.numeroCitaMedica}} </td>
        </ng-container>
    
        <ng-container matColumnDef="paciente">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>PACIENTE</b></th>
            <td mat-cell *matCellDef="let element"> {{element.paciente.nombres}}, {{element.paciente.apellidoParterno}} {{element.paciente.apellidoMaterno}} </td>
        </ng-container>
        
        <ng-container matColumnDef="numero_documento">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>NÚMERO DE DOCUMENTO</b></th>
            <td mat-cell *matCellDef="let element"> {{element.paciente.numeroDocumento}} </td>
        </ng-container>

        <ng-container matColumnDef="medico">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>MÉDICO</b></th>
            <td mat-cell *matCellDef="let element"> {{element.personalMedico.nombres}}, {{element.personalMedico.apellidoParterno}} {{element.personalMedico.apellidoMaterno}}  </td>
        </ng-container>

        <ng-container matColumnDef="servicio">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>SERVICIO/ESPECIALIDAD</b></th>
            <td mat-cell *matCellDef="let element"> {{element.servicio.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha_cita">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>FECHA CITA</b></th>
            <td mat-cell *matCellDef="let element"> {{element.fechaCita | date: 'dd-MM-yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="hora_cita">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>HORA CITA</b></th>
            <td mat-cell *matCellDef="let element"> {{element.horaCita}} </td>
        </ng-container>
        
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>ESTADO</b></th>
            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>ACCIONES</b></th>
            <td mat-cell *matCellDef="let element">                
                <button (click)="eliminar(element.citaMedicaId, element.numeroCitaMedica)" mat-mini-fab color="warn" ><mat-icon>delete</mat-icon></button> 
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>

    <mat-paginator [ngClass]="{'d-none': !dataSource.length}" [length]="totalFilas"
        [pageSizeOptions]="[10, 20, 50]" [pageSize]="10" (page)="cargarDatos()"></mat-paginator>

</div>


