<div class="h-1/5 bg-white mb-2 grid grid-cols-2 gap-4">
    <div>
        <h1 class="text-2xl text-primary font-bold">Personal Médico</h1>
        <p class="text-lg text-gray-400 font-bold">Listado</p>
    </div>
    <div class="grid justify-items-end p-2">
        <button *ngIf="tienePermisoRol('ROLE_CREAR_PERSONAL_MEDICO','PERSONAL_MEDICO')" mat-raised-button class="bg-secondary bg-gradient text-white" routerLink="/personal-medico/crear">
            <mat-icon>add_circle</mat-icon> Nuevo
        </button>
    </div>
    <div class="grid grid-cols-3 gap-2">
        <label>Apellido Paterno: </label>
        <input class="shadow appearance-none border border-gray-500 rounded w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Buscar..." [ngModelOptions]="{standalone: true}" [(ngModel)]="query" >
        <div>
            <button class="bg-primary bg-gradient text-white" mat-raised-button (click)="filtrar()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="mat-elevation-z8">

    <div class="_load_main inset-0" *ngIf="cargando">
        <div class="_load_content">
            <mat-spinner diameter=70 color=primary></mat-spinner>
            <h3 class="_load_text">{{mensajeCarga}}</h3>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" matTablePersonalMedico class="sm:w-full table table-hover align-middle text-center">

        <ng-container matColumnDef="servicio_nombre">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>SERVICIO/ESPECIALIDAD</b></th>
            <td mat-cell *matCellDef="let element"> {{element.servicio.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>NOMBRES</b></th>
            <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
        </ng-container>
    
        <ng-container matColumnDef="paterno">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>APE. PATERNO</b></th>
            <td mat-cell *matCellDef="let element"> {{element.apellidoPaterno}} </td>
        </ng-container>
        
        <ng-container matColumnDef="materno">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>APE. MATERNO</b></th>
            <td mat-cell *matCellDef="let element"> {{element.apellidoMaterno}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo_documento">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>TIPO DOCUMENTO</b></th>
            <td mat-cell *matCellDef="let element"> {{element.tipoDocumento}} </td>
        </ng-container>

        <ng-container matColumnDef="numero_documento">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>NÚMERO DOCUMENTO</b></th>
            <td mat-cell *matCellDef="let element"> {{element.numeroDocumento}} </td>
        </ng-container>

        <ng-container matColumnDef="celular">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>CELULAR</b></th>
            <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>ACCIONES</b></th>
            <td mat-cell *matCellDef="let element">
                <button *ngIf="tienePermisoRol('ROLE_EDITAR_PERSONAL_MEDICO','PERSONAL_MEDICO')" routerLink="/personal-medico/crear/{{element.personalMedicoId}}" mat-mini-fab color="accent" ><mat-icon>edit</mat-icon></button> 
                <button *ngIf="tienePermisoRol('ROLE_CONFIGURAR_HORARIO_PERSONAL_MEDICO','PERSONAL_MEDICO')" routerLink="/personal-medico/configurar/{{element.personalMedicoId}}" mat-mini-fab color="" ><mat-icon>settings</mat-icon></button> 
                <button *ngIf="tienePermisoRol('ROLE_ELIMINAR_PERSONAL_MEDICO','PERSONAL_MEDICO')" (click)="eliminar(element.personalMedicoId, element.nombres)" mat-mini-fab color="warn" ><mat-icon>delete</mat-icon></button> 
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [ngClass]="{'d-none': !dataSource.length}" [length]="totalFilas"
        [pageSizeOptions]="[10, 20, 50]" [pageSize]="10" (page)="cargarDatos()"></mat-paginator>

</div>

