<app-hc-crear-examenes *ngIf="tienePermisoRol('ROLE_HC_SOLICITAR_EXAMEN','HISTORIA_CLINICA')" (notificarRegistroNuevo)="cargarDatos()"></app-hc-crear-examenes>

<div class="grid mt-4 p-6">

    <div class="bg-white mb-2 grid grid-cols-1 grid-rows-2 gap-4">
        <div>
            <h1 class="text-2xl text-primary font-bold">Examenes</h1>
            <p class="text-lg text-gray-400 font-bold">Historial de examenes</p>
        </div>

        <div class="h-1/5 grid grid-cols-6 gap-2">

            <label>Número de examen: </label>

            <input class="pl-4 col-span-2 shadow appearance-none border border-gray-500 rounded w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Buscar..." [ngModelOptions]="{standalone: true}" [(ngModel)]="query" >
            
            <div>
                <button class="bg-primary bg-gradient text-white" mat-raised-button (click)="filtrar()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>

        </div>

    </div>
    <hr>
    <div class="mat-elevation-z8 mt-4 example-container">

        <div class="_load_main inset-0" *ngIf="cargando">
            <div class="_load_content">
                <mat-spinner diameter=70 color=primary></mat-spinner>
                <h3 class="_load_text">{{mensajeCarga}}</h3>
            </div>
        </div>

        <table mat-table [dataSource]="dataSource" matTableExamen 
            class="table table-hover align-middle text-center">

            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>CODIGO</b></th>
                <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
            </ng-container>

            <ng-container matColumnDef="servicio">
                <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>SERVICIO</b></th>
                <td mat-cell *matCellDef="let element"> {{element.servicio.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="personalMedico">
                <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>PERSONAL MEDICO</b></th>
                <td mat-cell *matCellDef="let element"> {{element.personalMedico.nombres}} 
                    {{element.personalMedico.apellidoPaterno}} {{element.personalMedico.apellidoMaterno}}
                </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>ESTADO</b></th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="resultado">
                <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>RESULTADO</b></th>
                <td mat-cell *matCellDef="let element"> {{element.resultado}} </td>
            </ng-container>
            
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>ACCIONES</b></th>
                <td mat-cell *matCellDef="let element">
                    <button matTooltip="Editar resultado" *ngIf="element.estado !== 'Finalizado' && tienePermisoRol('ROLE_EDITAR_RESULTADO','HISTORIA_CLINICA')" (click)="editarResultado(element)" 
                        mat-mini-fab color="accent"><mat-icon>edit</mat-icon></button> 
                    <button matTooltip="Generar cita" *ngIf="element.estado === 'Pendiente' && tienePermisoRol('ROLE_GENERAR_CITA_EXAMEN','CITA_MEDICA')" (click)="generarCita(element)" 
                        mat-mini-fab color="primary"><mat-icon>medical_information</mat-icon></button> 
                    <button matTooltip="Finalizar examen" *ngIf="element.estado !== 'Finalizado' && tienePermisoRol('ROLE_FINALIZAR_EXAMEN','HISTORIA_CLINICA')" (click)="finalizarExamen(element)" 
                        mat-mini-fab color="warn"><mat-icon>task_alt</mat-icon></button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>

        <mat-paginator [ngClass]="{'d-none': !dataSource.length}" [length]="totalFilas"
            [pageSizeOptions]="[10, 20, 50]" [pageSize]="10" (page)="cargarDatos()"></mat-paginator>
    </div>

</div>
