<mat-card>

    <div class="row">
        <div class="col-md-8">
            <mat-card-title class="text-2xl text-primary font-bold">Historia clínica Nro. {{numeroHistoriaClinica}}</mat-card-title>
            <mat-card-subtitle class="text-lg text-gray-400 font-bold">Formulario</mat-card-subtitle>
            <mat-card-subtitle class="text-lg text-uppercase"><b>Paciente : {{paciente?.nombres +' '+ paciente?.apellidoPaterno +' '+ paciente?.apellidoMaterno}}</b></mat-card-subtitle>
            <mat-dialog-content class="mat-typography"></mat-dialog-content>
        </div>
        <div class="col-md-4 text-right">
            <button mat-raised-button routerLink="/historia-clinica/listar" color="warn">
                <mat-icon>keyboard_backspace</mat-icon>Atras
            </button>
        </div> 
    </div>
    
        <input style="background-color: red;" type="hidden" [attr.data-historiaclinicaid]="historiaClinicaId" id="historiaClinicaId">
        
        <mat-tab-group [color]="'accent'" [backgroundColor]="'primary'">

            <mat-tab label="DATOS GENERALES" > 
                <app-datos-generales [pacienteId]="pacienteId"></app-datos-generales>
            </mat-tab>
            <mat-tab label="ANTECEDENTES" *ngIf="tienePermisoRol('ROLE_EDITAR_HC_ANTECEDENTES','HISTORIA_CLINICA')"> 
                <app-hc-antecedentes></app-hc-antecedentes>
            </mat-tab>
            <mat-tab label="MOTIVO DE CONSULTA" *ngIf="tienePermisoRol('ROLE_EDITAR_HC_MOTIVO_CONSULTAS','HISTORIA_CLINICA')">
                <app-hc-listar-motivo-consulta></app-hc-listar-motivo-consulta>
            </mat-tab>
            <mat-tab label="MEDICACIÓN" *ngIf="tienePermisoRol('ROLE_EDITAR_HC_MEDICACION','HISTORIA_CLINICA')"> 
                <app-hc-listar-medicacion></app-hc-listar-medicacion>
            </mat-tab>
            <mat-tab label="TRIAJE" *ngIf="tienePermisoRol('ROLE_EDITAR_HC_TRIAJE','HISTORIA_CLINICA')"> 
                <app-hc-triaje></app-hc-triaje>
            </mat-tab>
            <mat-tab label="EXAMENES" *ngIf="tienePermisoRol('ROLE_EDITAR_HC_EXAMENES','HISTORIA_CLINICA') || tienePermisoRol('ROLE_GENERAR_CITA_EXAMEN','CITA_MEDICA')">
                <app-hc-listar-examenes></app-hc-listar-examenes>
            </mat-tab>
        </mat-tab-group>
    
    <mat-dialog-actions align="end">
        <div class="w-100">
            
        </div>
    </mat-dialog-actions>
</mat-card>