<div class="px-6 pt-2 h-1/5 bg-white mb-2 grid grid-cols-1 gap-4">
    <div class="titulo-hospitalizacion grid sm:grid-cols-1 gap-4 p-2">
        <h1 class="text-3xl">Estado actual de hospitalizados</h1>
    </div>
</div>
<div class="p-6 grid lg:grid-cols-4 md:grid-cols-2 gap-6">

    <div class="_load_main inset-0" *ngIf="cargando">
        <div class="_load_content">
            <mat-spinner diameter=70 color=primary></mat-spinner>
            <h3 class="_load_text">{{mensajeCarga}}</h3>
        </div>
    </div>

    <div (click)="mostrarFormularioRegistro(c)" *ngFor="let c of camas" class="item-hospitalizacion" [style]="c.color">
        <p class="text-center font-bold" [style]="c.colorText">{{c.nombre}}</p>
        <div class="grid grid-rows-1 gap-2">
            <div style="height: 125px;">
                <div class="img"></div>
            </div>            
        </div>
        <div class="p-2">
            <p class="item-text" [style]="c.colorText"><b>Paciente:</b> {{getNombrePaciente(c)}} </p>
            <p class="item-text" [style]="c.colorText"><b>Medico:</b> {{getNombrePersonalMedico(c)}} </p>
            <p [style]="c.colorText"><b>Alta:</b> {{c?.hospitalizado?.alta}}</p>
            <p class="item-text-wrap" [style]="c.colorText"><b>Observación:</b> {{c?.hospitalizado?.observacion }}</p>
        </div>
    </div>


</div>