
<div class="_load_main inset-0" *ngIf="cargando">
    <div class="_load_content">
        <mat-spinner diameter=70 color=primary></mat-spinner>
        <h3 class="_load_text">{{mensajeCarga}}</h3>
    </div>
</div>
<mat-card>
    <mat-card-subtitle class="text-lg - text-gray-400 text-uppercase">
        Última Fecha de Actualización: {{fecha_actualizacion}}
    </mat-card-subtitle>
    <div class="grid grid-rows-7 grid-cols-2 gap-4 p-6">
        <mat-form-field appearance="outline">
            <mat-label>Peso</mat-label>
            <input [maxLength]="20" matInput type="text" [(ngModel)]="peso">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Talla</mat-label>
            <input [maxLength]="20" matInput type="text" [(ngModel)]="talla">
        </mat-form-field>
    </div>
    <mat-dialog-actions align="end">
        <div class="w-100">
            <button (click)="guardar()" mat-raised-button color="accent">
                <mat-icon>save</mat-icon> Guardar
            </button>
        </div>
    </mat-dialog-actions>
</mat-card>   
