<div class="_load_main inset-0" *ngIf="cargando">
    <div class="_load_content">
        <mat-spinner style="margin: auto;" diameter=70 color=primary></mat-spinner>
        <h3 class="_load_text">{{mensajeCarga}}</h3>
    </div>
</div>
<mat-card>
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-2xl text-primary font-bold">Crear cita médica</h1>
            <p class="text-lg text-gray-400 font-bold">Formulario</p>
        </div>
        <div class="col-md-4 text-right">
            <button *ngIf="!citaMedica.solicitudExamen" (click)="abrirFormPaciente()" mat-raised-button class="bg-secondary bg-gradient text-white">
                <mat-icon>add_circle</mat-icon>Nuevo paciente
            </button>
        </div>        
    </div>
    <mat-dialog-content class="mat-typography">

        <!-- aqui va el formulario -->
        <form [formGroup]="form" novalidate>
            <div class="grid grid-rows-3 grid-cols-3 gap-4">

                <mat-form-field appearance="legacy">
                    <mat-label>Area médica <span class="text-red-600">(*)</span></mat-label>
                    <mat-select [disabled]="citaMedica.solicitudExamen" (selectionChange)="buscarServicios($event.value)" formControlName="areaMedica">
                      <mat-option value="">Seleccione</mat-option>
                      <mat-option *ngFor="let am of areasMedicas" [value]="am.areaMedicaId">{{am.nombre}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.areaMedica.hasError('required')">Seleccione una opción</mat-error>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Servicio/Especialidad <span class="text-red-600">(*)</span></mat-label>
                    <mat-select [disabled]="citaMedica.solicitudExamen" (selectionChange)="buscarHorarioMedicos($event.value)" formControlName="servicio">
                      <mat-option value="0">Seleccione</mat-option>
                      <mat-option *ngFor="let s of servicios" [value]="s.servicioId">{{s.nombre}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.servicio.hasError('required')">Seleccione una opción</mat-error>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Fecha de cita<span class="text-red-600">(*)</span></mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaCita" (dateChange)="buscarCitas($event.value)" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="form.controls.fechaCita.hasError('required')">El campo es requerido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Tipo de documento<span class="text-red-600">(*)</span></mat-label>
                    <mat-select [disabled]="citaMedica.solicitudExamen" formControlName="tipoDocumento">
                      <mat-option value="">Seleccione</mat-option>
                      <mat-option value="DNI">DNI</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Número de documento</mat-label>
                    <input [readonly]="citaMedica.solicitudExamen" matInput type="text" formControlName="numeroDocumento">
                    <button (click)="buscarPaciente()" style="font-size: 25px;" mat-icon-button matSuffix>
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                
                <mat-form-field appearance="legacy">
                    <mat-label>Paciente</mat-label>
                    <input style="color: red; font-weight: bold;" matInput type="text" #nombrePacienteLabel disabled>
                </mat-form-field>

                

                <div class="col-start-2 grid justify-items-stretch">
                    <mat-form-field appearance="legacy">
                        <mat-label>Turno</mat-label>
                        <mat-select (selectionChange)="actualizarTurnos($event.value)" formControlName="turno">
                          <mat-option value="">Seleccione</mat-option>
                          <mat-option value="1">Mañana</mat-option>
                          <mat-option value="2">Tarde</mat-option>
                          <mat-option value="3">Noche</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div id="container_cita" style="margin-top: 20px; width: 100%; overflow-y: scroll; overflow-wrap: normal;">

                <!-- Encabezado de apoyo -->
                <div style="width: 1600px; position: sticky; top: 0;" [hidden]="ocultarApoyo">
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                    <div class="text-center p-1 header-item-cita"><p class="item-cita-text"></p></div>
                </div>

                <!-- titulos del horarios -->
                <div style="width: 1600px; position: sticky; top: 0;" [hidden]="!ocultarApoyo">
                    <div *ngFor="let item of titulos" class="text-center p-1 header-item-cita">
                        <p class="item-cita-text">{{item}}</p>
                    </div>
                </div>
                <!-- agenda de los medicos -->
                <div *ngFor="let m of medicos" style="width: 1600px; clear: left;" [hidden]="!ocultarApoyo">
                    <div *ngFor="let item of m.items; let i=index" 
                        class="item-cita grid grid-rows-3 text-center" [style]="item.color">

                        <!-- contenedor del nombre del medico -->
                        <p *ngIf="i == 0" class="p-2 item-cita-text-medico row-span-3">{{item.nombreMedico}}</p>

                        <!-- contenedor si tiene cita registrada -->
                        <p *ngIf="item.tieneCita" class="p-2 row-span-2 item-cita-text">{{item.nombrePaciente}}</p>
                        
                        <!-- si no tiene cita y esta libre -->
                        <button *ngIf="!item.tieneCita && i > 0 && item.esLaborable" 
                            class="row-span-3" (click)="reservarCita(item)" type="button"></button>
                        
                    </div>
                </div>
            </div>
            <div style="clear: left;"></div>

            <div style="background-color: rgb(245, 245, 245); 
                padding: 10px; 
                margin-top: 30px;
                margin-bottom: 30px;">

                <p><span style="width: 15px; height: 15px; background-color: #00A86B; float: left;"></span> &nbsp; Disponibilidad</p>
                <p><span style="width: 15px; height: 15px; background-color: gray; float: left;"></span> &nbsp; No laborable</p>
                <p><span style="width: 15px; height: 15px; background-color: #FDFD96; float: left;"></span> &nbsp; Ocupado</p>
                <p><span style="width: 15px; height: 15px; background-color: orange; float: left;"></span> &nbsp; Reservar cita</p>
            </div>
        </form>

    </mat-dialog-content>
    <mat-dialog-actions align="end" >
        <div class="w-100" >
            <button *ngIf="citaMedica.solicitudExamen" mat-dialog-close="{guardo:false}" mat-raised-button color="warn" class="mr-2">
                <mat-icon>close</mat-icon> Cancelar</button>
            <button *ngIf="!citaMedica.solicitudExamen" routerLink="/cita-medica/listar" mat-raised-button color="warn" class="mr-2">
                <mat-icon>close</mat-icon> Cancelar</button>
            <button (click)="registrar()" cdkFocusInitial [disabled]="!form.valid"  
                mat-raised-button color="accent">
                <mat-icon>save</mat-icon> Guardar</button>
        </div>
    </mat-dialog-actions>
</mat-card>