
section h3 { background: rgb(255, 255, 255); }

a {
	color: #666;
}

h3 {
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 300;
	font-size: 1.5em;
	color: #666;
	margin-top: 1em;
	margin-bottom: 1ex;
    display: inline-block;
    position: absolute;
    top: -1.66em;
    left: 0.5ex;
    line-height: 1;
    padding: 0 0.5ex;
}

section {
	position: relative;
	overflow: visible;
	border: 1px solid #999;
	margin-top: 1.66em;
	padding: 1ex 1em;
}

section div{
	padding: 10px;
}