<div class="_load_main inset-0" *ngIf="cargando">
    <div class="_load_content">
        <mat-spinner diameter=70 color=primary></mat-spinner>
        <h3 class="_load_text">{{mensajeCarga}}</h3>
    </div>
</div>
<form [formGroup]="form" novalidate>
    <div class="grid grid-rows-1 gap-4 px-6">
        <mat-form-field appearance="legacy">
            <mat-label>Resultado</mat-label>
            <textarea matInput formControlName="resultado" rows="20"></textarea>
        </mat-form-field>
    </div>
    <div class="w-100 pl-6">
        <button mat-dialog-close="{guardo:false}" mat-raised-button color="warn" class="mr-2">
            <mat-icon>close</mat-icon> Cancelar</button>
        <button (click)="registrar()" cdkFocusInitial [disabled]="!form.valid"  
            mat-raised-button color="accent" class="mr-2"><mat-icon>save</mat-icon> Guardar</button>
        <button (click)="registrarYFinalizar()" cdkFocusInitial [disabled]="!form.valid"  
            mat-raised-button color="primary"><mat-icon>save</mat-icon> Guardar y Finalizar</button>
    </div>
</form>