<mat-card>
    
    <div class="row">
        <div class="col-md-8">
            <mat-card-title class="text-2xl font-bold text-primary">Administración de medicación</mat-card-title>
            <mat-card-subtitle class="text-lg text-gray-400 font-bold">Formulario</mat-card-subtitle>
        </div>
        <div class="col-md-4 text-right">
            <button mat-raised-button routerLink="/hospitalizacion/listar" color="warn">
                <mat-icon>keyboard_backspace</mat-icon>Atras
            </button>
        </div>        
    </div>
    <mat-dialog-content class="mat-typography">

        <hr>
        <div class="row">
            <div class="col-md-8">
                <h2>Paciente : <span class="font-bold text-red-600">{{nombrePaciente}}</span></h2>
            </div>
            <div class="col-md-4">
                <h2>Nro Historia Clínica : <span class="font-bold text-red-600">{{numeroHistoriaClinica}}</span></h2>
            </div>
            
        </div>
        <div class="grid grid-rows-2 mt-4">
            <div>
                <button class="mr-2" *ngIf="alta == 'NO'" (click)="darDeAlta()" type="button" mat-raised-button color="accent">
                    <mat-icon class="mr-2" >medical_information</mat-icon>DAR DE ALTA</button>
                <button class="mr-2"  *ngIf="alta == 'SI'" (click)="darDisponibilidadCama()" type="button" mat-raised-button color="primary">
                    <mat-icon class="mr-2" >medical_information</mat-icon>DISPONER CAMA</button>
                <button class="mr-2"  *ngIf="alta == 'NO'" (click)="darAltaYDisponibilidadCama()" type="button" mat-raised-button color="primary">
                    <mat-icon class="mr-2" >medical_information</mat-icon>DAR DE ALTA Y DISPONER CAMA</button>
            </div>
            <div class="row">
                <h2 class="text-info">Siguiente dosís:</h2>
            </div>
        </div>
        <div class="grid grid-rows-1">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceDosis" class="sm:w-full table table-hover align-middle text-center">
            
                    <ng-container matColumnDef="numeroDosis" matTableDetalleMedicacion>
                        <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>NÚMERO DE DOSIS</b></th>
                        <td mat-cell *matCellDef="let element"> {{element.numeroDosis}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fechaDosis">
                        <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>FECHA DOSIS</b></th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaDosis | date: 'dd-MM-yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="horaDosis">
                        <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>HORA DOSIS</b></th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaDosis | date: 'HH:mm:ss'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="medicamento">
                        <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>MEDICAMENTO</b></th>
                        <td mat-cell *matCellDef="let element"> {{element.detalleMedicacion.medicamento.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-info bg-gradient text-white"><b>ACCIÓN</b></th>
                        <td mat-cell *matCellDef="let element">
                            <button (click)="dosisRealizada(element)" mat-mini-fab 
                                style="background-color: rgb(30, 196, 30);
                                    " type="button">
                                <mat-icon style="color: white;">done</mat-icon></button> 
                        </td>
                    </ng-container>
                        
                    <tr mat-header-row *matHeaderRowDef="columnasDosis"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasDosis;"></tr>
                </table>
            </div>
        </div>

        <hr>
        <div class="grid grid-rows-1 mt-4">
            <h2 class="text-primary">Última medicación:</h2>
        </div>
        <div class="grid grid-rows-1">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceMedicamentos" class="sm:w-full table table-hover align-middle text-center">
            
                    <ng-container matColumnDef="medicamento" matTableDetalleMedicacion>
                        <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-primary bg-gradient text-white"><b>MEDICAMENTO</b></th>
                        <td mat-cell *matCellDef="let element"> {{element.medicamento.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="indicaciones">
                        <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-primary bg-gradient text-white"><b>INDICACIONES</b></th>
                        <td mat-cell *matCellDef="let element"> {{element.indicaciones}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dosis">
                        <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-primary bg-gradient text-white"><b>DOSIS</b></th>
                        <td mat-cell *matCellDef="let element"> {{element.dosis}} </td>
                    </ng-container>

                    <ng-container matColumnDef="frecuencia">
                        <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-primary bg-gradient text-white"><b>FRECUENCIA</b></th>
                        <td mat-cell *matCellDef="let element"> {{element.frecuencia}} </td>
                    </ng-container>

                    <ng-container matColumnDef="via">
                        <th mat-header-cell *matHeaderCellDef class="fs-6 text-center align-middle bg-primary bg-gradient text-white"><b>VIA</b></th>
                        <td mat-cell *matCellDef="let element"> {{element.via}} </td>
                    </ng-container>
                        
                    <tr mat-header-row *matHeaderRowDef="columnasDetalleMedicacion"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasDetalleMedicacion;"></tr>
                </table>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="w-100"></div>
    </mat-dialog-actions>
</mat-card>    

