<div class="sm:flex flex-col sm:flex-row sm:min-h-screen">
    <div id="_sidebar" class="active relative flex flex-col sm:w-1/5 text-gray-700 bg-white h-screen
             dark-mode:text-gray-200 dark-mode:bg-gray-800 flex-shrink-0">
       <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between border-b-2 border-r-2 border-gray-100 h-20">
          
             <img class="mx-auto h-10 w-auto" src="../../../../../assets/imagenes/medisalud_logo.png" alt="Workflow">   
 
       </div>
       <nav class="flex-grow sm:block pb-4 sm:overflow-y-auto border-r-2"> 
         
         <div class="w-full">
            <div class="border-solid border-b-2 text-center grid justify-center pt-2 bg-gray-100">
               <!-- Nombre -->
               <div class="grid justify-center">
                  <img width="110" height="110" src="./../../../../assets/imagenes/user_menu.png">
               </div>
               <p>{{nombreUsuario}}</p>
               <p><b>{{nombrePerfil}}</b></p>
            </div>
         </div>

         <!-- ITEM DEL MENU INDIVIDUAL -->
         <div class="w-full" *ngIf="tienePermisoModulo('PERSONAL_MEDICO')">
            <div class="flex border-solid border-b-2">
               <mat-icon class="p-5 mr-2">group_add</mat-icon>
               <a routerLink="/personal-medico/listar" class="block pt-5 py-5 pl-2 cursor-pointer w-full">
                  Personal Médico</a>
            </div>
         </div>

         <div class="w-full" *ngIf="tienePermisoModulo('PACIENTE')">
            <div class="flex border-solid border-b-2">
               <mat-icon class="p-5 mr-2">personal_injury</mat-icon>
               <a routerLink="/paciente/listar" class="block pt-5 py-5 pl-2 cursor-pointer w-full">Pacientes</a>
            </div>
         </div>

         <div class="w-full" *ngIf="tienePermisoModulo('CITA_MEDICA')">
            <div class="flex border-solid border-b-2">
               <mat-icon class="p-5 mr-2">medical_services</mat-icon>
               <a routerLink="/cita-medica/listar" class="block pt-5 py-5 pl-2 cursor-pointer w-full">Cita médica</a>
            </div>
         </div>

         <div class="w-full" *ngIf="tienePermisoModulo('HOSPITALIZACION')">
            <div class="flex border-solid border-b-2">
               <mat-icon class="p-5 mr-2">monitor_heart</mat-icon>
               <a routerLink="/hospitalizacion/listar" class="block pt-5 py-5 pl-2 cursor-pointer w-full">Hospitalización</a>
            </div>
         </div>

         <div class="w-full" *ngIf="tienePermisoModulo('HISTORIA_CLINICA')">
            <div class="flex border-solid border-b-2">
               <mat-icon class="p-5 mr-2">assignment</mat-icon>
               <a routerLink="/historia-clinica/listar" class="block pt-5 py-5 pl-2 cursor-pointer w-full">Historia clínica</a>
            </div>
         </div>

         <div class="w-full" *ngIf="tienePermisoModulo('USUARIOS')">
            <div class="flex border-solid border-b-2">
               <mat-icon class="p-5 mr-2">person</mat-icon>
               <a routerLink="/usuario/listar" class="block pt-5 py-5 pl-2 cursor-pointer w-full">Usuarios</a>
            </div>
         </div>

         <div class="w-full" *ngIf="tienePermisoModulo('REPORTE')">
            <div class="flex border-solid border-b-2">
               <mat-icon class="p-5 mr-2">bar_chart</mat-icon>
               <a routerLink="/reporte/principal" class="block pt-5 py-5 pl-2 cursor-pointer w-full">Reportes</a>
            </div>
         </div>

         <div class="w-full" *ngIf="tienePermisoModulo('AGENDA')">
            <div class="flex border-solid border-b-2">
               <mat-icon class="p-5 mr-2">fact_check</mat-icon>
               <a routerLink="/agenda/listar" class="block pt-5 py-5 pl-2 cursor-pointer w-full">Agenda</a>
            </div>
         </div>

         <!-- <div class="w-full" *ngIf="tienePermisoModulo('AGENDA')"> -->
         <div class="w-full" *ngIf="tienePermisoModulo('MANTENIMIENTOS')">
            <div class="flex border-solid border-b-2">
               <mat-icon class="p-5 mr-2">view_module</mat-icon>
               <a routerLink="/mantenimientos" class="block pt-5 py-5 pl-2 cursor-pointer w-full">Mantenimientos</a>
            </div>
         </div>
            <!-- ITEM DEL MENU CON OPCIONES DESPLEGABLE 
               Si agregamos otro menu de estos, debemos considerar lo siguiente:
               1. _menu-label-icon-0 <-- cambiar el 0 por el siguiente número
               2. _tab-content-label-0 <-- de la misma forma, cambiar el 0.
            -->
         <!--<div class="w-full">
             <div class="border-solid border-b-2">
                <div class="tab w-full overflow-hidden">
                   <div class="grid grid-cols-5 _tab-menu-label">
                      <label class="col-span-4 block p-5 leading-normal cursor-pointer">Label one</label>
                      <div class="grid grid-cols-none justify-center content-center cursor-pointer">
                         <span id="_menu-label-icon-0" class="_icon-label-menu">
                            <svg class="h-6 w-6 text-black" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                               stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                               <circle cx="12" cy="12" r="10" />
                               <polyline points="12 16 16 12 12 8" />
                               <line x1="8" y1="12" x2="16" y2="12" />
                            </svg>
                         </span>
                      </div>
                   </div>
                   <div id="_tab-content-label-0"
                      class="_tab-content overflow-hidden border-r-4 bg-gray-100 border-gray-500 leading-normal">
                      <div class="w-full border-t-2 p-0">
                         <a href="#" class="col-span-4 block p-5 leading-normal cursor-pointer">Label a</a>
                      </div>
                      <div class="w-full border-t-2 p-0">
                         <a href="#" class="col-span-4 block p-5 leading-normal cursor-pointer">Label a</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>-->
 
 
       </nav>
    </div>
 
    <!-- contenido -->
    <div id="_content-main" class="relative flex flex-col sm:w-4/5 text-gray-700 
         dark-mode:text-gray-200 dark-mode:bg-gray-800 flex-shrink-0 h-screen sm:overflow-y-auto">
 
       <app-header></app-header>
 
       <div class="sm:overflow-y-auto pt-2 bg-gray-50">
          <div class="mx-2 rounded-lg px-2 py-2 bg-white">
             
            <router-outlet></router-outlet>

          </div>
       </div>
    </div>
 </div>