/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#main {
    display: grid;
    grid-template-columns: 12rem auto;
}

/*
@media (min-width: 1200px) { 
    #main { grid-template-columns: 12rem auto; }
}*/

::-webkit-scrollbar{
    width: 8px;
    height: 8px; 
}

::-webkit-scrollbar-thumb {
    background: #717785;
    border-radius: 4px;
}

._load_main{
    position: absolute;
    background: rgba(144, 148, 144, 0.26);
    z-index: 5;
}

._load_content{
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 40%;
}
._load_text{
    padding-top: 10px; 
    font-weight: bold;
}